<article
  id="<%= post.layout %>-<%= post.slug %>"
  class="article-wrap article-type-<%= post.layout %> index-box"
  itemscope
  itemprop="blogPost"
  data-scroll-reveal
>
  <div class="article-inner">
    <% if (post.link || post.title){ %>
    <header class="article-header">
      <%- partial('post/title', {class_name: 'article-title'}) %>
    </header>
    <% } %> <% if (index || is_post()) { %>
    <div class="article-meta flex flex-y">
      <%- partial('post/category') %> <% if(theme.word_count &&
      theme.word_count.enable && !post.no_word_count){%> <%-
      partial('post/word') %> <% } %> <%- partial('post/date', {class_name:
      'article-date', date_format: null}) %>
    </div>
    <% } %> <% if (theme.excerpt_all&&index){ %> <% }else{ %>
    <div class="article-entry" itemprop="articleBody">
      <%- partial('post/gallery') %> <% if (post.excerpt && index){ %>
      <div class="markdown-view">
        <%- post.excerpt %>
      </div>
      <% if (theme.excerpt_link){ %>
      <a class="article-more-link" href="<%- url_for(post.path) %>">
        <%= theme.excerpt_link %>
      </a>
      <% } %> <% } else { %>
      <div class="markdown-view">
        <%- post.content %>
      </div>
      <% } %>
      <!-- updated -->
      <% if (theme.display_updated){ %>
      <%- partial('post/date2', {class_name:
        'article-date', date_format: null}) %>
      <% } %>
      <!-- reward -->
      <% if ((theme.reward_type === 2 || (theme.reward_type === 1 &&
      post.reward)) && !index && !post.no_reward){ %>
      <div id="reward-btn">
        打赏
      </div>
      <%- partial('post/reward') %> <% } %>
    </div>
    <% } %>

    <!-- copyright -->
    <% if (((theme.copyright_type === 2) || (theme.copyright_type === 1 &&
    post.copyright)) && !index){ %>
    <div class="declare">
      <div class="post-copyright">
        <i class="ri-copyright-line"></i>
        <strong>版权声明： </strong>
        本博客所有文章除特别声明外，均采用
        <a
          href="https://www.apache.org/licenses/LICENSE-2.0.html"
          rel="external nofollow"
          target="_blank"
          >Apache License 2.0</a
        >
        许可协议。转载请注明出处！
      </div>
    </div>
    <% } %>
    <footer class="article-footer">
      <%- partial('post/tag') %> <% if (!index && theme.share_enable){ %> <%-
      partial('post/share') %> <% } %>
    </footer>
  </div>

  <% if (!index){ %> <%- partial('post/nav') %> <% } %> <% if (theme.valine &&
  theme.valine.enable && !post.no_valine){ %> <%- partial('post/valine', { key:
  post.slug, title: post.title, url: config.url+url_for(post.path) }) %> <% } %>
</article>

<% if (theme.toc && is_post()){ %> <% if (post.toc != false &&
toc(page.content).length!==0){ %> <%- partial('post/tocbot') %> <% } %> <% } %>
