<div class="index-wrap">
  <div class="index-banner flex flex-x flex-y">
    <canvas id="bannerAni"></canvas>
  </div>
  <div class="container">
    <div class="index-main">
      <div class="index-last-article">
        <%- partial('_partial/archive', {pagination: 2, index: true}) %>
      </div>
    </div>
    <div class="index-sidebar">
      <%- partial('_partial/author') %>
      <div class="skill-for-fe index-box">
        <a href="http://naotu.baidu.com/file/b089222c0039c2f11536c0babaf5ea32?token=10ed8b0906b4c792" target="_blank">前端开发技能树</a>
      </div>
      <%- partial('_partial/categoryMenu') %>
      <%- partial('_partial/tagCloud') %>
      <%- partial('_partial/douban') %>
      <%- partial('_partial/we') %>
      <%- partial('_partial/music') %>
    </div>
  </div>
</div>
