<div class="index-wrap">
  <div class="index-banner flex flex-x flex-y">
    <canvas id="bannerAni"></canvas>
  </div>
  <div class="container">
    <div class="index-main">
      <div class="index-last-article">
        <%- partial('_partial/archive', {pagination: 2, index: true}) %>
      </div>
    </div>
    <div class="index-sidebar">
      <%- partial('_partial/author') %>
      <%- partial('_partial/categoryMenu') %>
      <%- partial('_partial/tagCloud') %>
      <%- partial('_partial/douban') %>
      <%- partial('_partial/we') %>
      <%- partial('_partial/music') %>
    </div>
  </div>
</div>
