<%- partial('_partial/head') %>

<body>
  <div id="app">
    <%- partial('_partial/header') %>
    <div class="layout">
      <main class="main-wrap">
        <%- body %>
      </main>
      <%- partial('_partial/footer') %>
      <%- partial('_partial/toTop') %>
    </div>
  </div>
  <%- partial('_partial/after-footer') %>
</body>

</html>